<div>
    <table>
        <tr ng-repeat="x in ncps">
            <td>{{ x.countryCode }}</td>
            <td>{{ x.acronym }}</td>
            <td>{{ x.url }}</td>
        </tr>
        
    </table>
    <form name="myForm" action="/smp/toNCP" method="POST">
        <select name="url">
            <option ng-repeat="x in ncps" value="{{ x.url }}">{{ x.acronym }}</option>
            <option value="https://emrex01.csc.fi/ncp/">emrex01csc ncp</option>
            <option value="http://localhost:8080/ncp/">localhost ncp</option>
        </select>
        <input type="submit">
    </form>
</div>
