.custom-border{
    border:1px solid #cbcbcb;
    box-sizing: border-box;
}
.custom-no-borders{
    border-style: hidden;
}
.custom-container{
    margin: 10px;
}
.custom-option-margin{
    margin: 5px;
}

.custom-zero-margin{
    margin:0px;
}
.custom-inline{
    display:inline;
}
legend{
    background-color: #e0e0e0;
}
fieldset{
    padding:0px;
}
